<div class="home-box">
    <h3 style="height: 40px; line-height: 40px;">
        <i class="glyphicon glyphicon-th-list"></i> 项目组列表</h3>

    <div class="container-fluid" style="margin-top: 20px;">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th style="text-align: center;">项目组名称</th>
                <th style="text-align: center;">操作</th>
            </tr>
            <tr ng-repeat="item in list">
                <td style="font-size: 18px; color: #f50;text-align: center;">{{item.name}}</td>
                <td style="text-align: center;">
                    <a ui-sref="index.updateclass({id: item.id, name: item.name})" class="btn btn-primary">修改</a>
                    <button type="button" class="btn btn-danger" ng-click="rm(item.id, $index)">删除</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="mask" ng-show="addLoad">正在提交……</div>
</div>